/* menghubungkan gogle font seccara  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "poppins", sans-serif;
}

/* setting */
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4ff;
}
/* settimg kotak */
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0,0, 0, 0.1);
    position: relative;
}
/* seting gambar jadi bulat */
/* setting div dimana gambar berada */
.image{
position: relative;
height: 150px;
width: 150px;
border-radius: 50%;
background-color: blue;
padding: 3px;
margin-bottom: 10px;
}

/* setting gambar */
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:50%;
    border: 3px solid #fff;
}


/* setting teks */
.profile-card .teks-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4416dc;
}

.teks-data .name{
    font-size: 22px;
    font-weight: 500;
}
.teks-data .job{
    font-size: 15px;
    font-weight: 400;
}

/* setting botom */
.profile-card .media-buttons{
    display: flex;
    align-items: center;
}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 34px;
    width: 34px;
    font-size: 18px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4147ff;
    text-decoration: none;

}

/* dekorasi  */
.buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
/* dekorasi tombol buttons */
.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #0008ff;
    cursor: pointer;
}

.buttons .button:hover{
    background-color: #ff4141;
}
.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
/* DEKORASI ICON ANALYSTIC */
.analytics .data{
    display: flex;
    align-items: center;
    color: black;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
}
.data:last-child{
    border-right: none;
}